.pie{
	background: url("http://alzheimer.dev/bundles/portada/img/strip");
	height:100px;
	
}
#image{
	position: absolute;
	top: 45px; 
	left: auto;
}

#image:hover{
 	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	 transform: scale(1.1);
 }

li a{
    text-decoration:none;

}

#banner{
	width:1000px;
	height:400px;
	background-color:white
}

#banner img{
	width:1000px;
	height:400px;
}

#noticias ul,li{	
	list-style: none;
}

.back a{
	color: #14863E;
}

.portada{
	width: 450px;
	height:250px;
}

.prim{
	width: 350px;
	height:220px;
}

.sec{
	width: 550px;
	height:500px;	
}