{% extends '::frontend.html.twig' %}


{% block body %}


<div class="row">
	<div class="large-12 columns">
		<h3>Administraci&oacute;n de Eventos</h3><br />
		<dl class="sub-nav">  
			<dd><a href="{{ path('eventos_new') }}">Crear Eventos</a></dd>
			<dd><a href="{{ path('eventos_index')}}">Ver Eventos</a></dd>  
			<dd><a href="{{ path('admin') }}">Regresar a administraci&oacute;n</a></dd>
		</dl>
	</div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
{% endblock %}