{% extends '::frontend.html.twig' %}

{% block body %}

<div class="row">

  <div class="small-10 columns" align="Justify">
  <h1 class="title" style="color:#009966;">¿A quién Acudir?</h1>
  
  <p>
  Cuando tu ser querido se pierde al volver a casa del trabajo o de la tienda, comienza a limitar el tiempo que pasa con otras personas, está triste regularmente, deja de hacer las cosas que le gustan, se vuelve repetitivo en sus comentarios, no puede preparar la receta que tanto hacía, deja sus actividades sin concluir, es hora de visitar al doctor.</p>

  <p>
  Algunos doctores de cabecera no tienen el entrenamiento necesario para distinguir la causa de la perdida de la memoria, ellos pueden decir que es “vejez” y que no hay que preocuparse de ello por lo que le recomendamos acudir con médicos que tengan entrenamiento especial para esto como un geriatra o neurólogo para que le realice un diagnóstico clínico completo.</p>

  
  <h5>¿En qué consiste la evaluación médica?</h5>
  <p>
    No hay una sola prueba que pueda mostrar si una persona tiene la enfermedad de Alzheimer. El diagnóstico de la enfermedad de Alzheimer requiere de una evaluación médica cuidadosa, incluyendo:
  </p>

  	<p><b>Un historial médico completo</p>
  	<p><b>Pruebas del estado mental</b> para evaluar la memoria, la capacidad para resolver problemas simples y otras habilidades de pensamiento.</p>
  	<p><b>Examen neurológico.</b> Durante un examen neurológico, el médico evaluará a la persona para ver si identifica problemas que señalen desordenes del cerebro distintas a las de la enfermedad de Alzheimer. El médico buscará signos de pequeños o grandes infartos cerebrales, la enfermedad de Parkinson, tumores cerebrales, la acumulación de líquido en el cerebro y otras enfermedades que pueden afectar la memoria o el pensamiento.</p><br>
  	<p><b>Pruebas</b> (como análisis de sangre y de imagen cerebral) para descartar otras causas de demencia, los síntomas parecidos al examen físico y pruebas de laboratorio pueden ayudar a identificar problemas de salud que pueden causar síntomas de demencia. Condiciones distintas de la enfermedad de Alzheimer que puede causar confusión mental, problemas de enfoque o problemas de memoria incluyen anemia, depresión, infecciones, diabetes, enfermedad renal, enfermedad hepática, ciertas deficiencias vitamínicas, las alteraciones tiroideas, y problemas con el corazón, los vasos sanguíneos y los pulmones.</p><br>
  	<p><b><font color="red">IMPORTANTE:</font> Cuando acuda al doctor recuerde llevar una lista de los medicamentos o suplementos que actualmente está tomando su ser querido.</p>
</div>  
</div>
{% endblock%}
