{% extends '::frontend.html.twig' %}

{% block body %}

<div class="row">
 
  <div class="small-10 columns">
  <h1 class="title" style="color:#009966;">¿Que es el Alzheimer?</h1>
  
  <p>
  El Alzheimer es un tipo de demencia que causa problemas con la memoria, el pensamiento y el comportamiento. Los síntomas generalmente se desarrollan lentamente y empeoran con el tiempo, hasta llegar al punto de interferir con las actividades diarias.</p>

   <p>
	La enfermedad de Alzheimer es la forma más común de demencia y representa el 50 al 80 por ciento de los casos de demencia.</p>

   <p>El Alzheimer no es una parte normal del envejecimiento, aunque el factor mayor de riesgo conocido es la edad avanzada, y la mayoría de las personas con Alzheimer son mayores de 65 años. Pero la enfermedad de Alzheimer no es sólo una enfermedad de la vejez. Hasta el 5 por ciento de las personas con la enfermedad tienen inicio temprano de Alzheimer, que aparece a menudo cuando alguien está en sus 40 o 50 años.</p>

   <p>
   El Alzheimer empeora con el tiempo,  no tiene cura actual, pero los tratamientos pueden disminuir  el empeoramiento de los síntomas de la demencia y mejorar la calidad de vida de las personas con Alzheimer y  consecuentemente la de sus cuidadores.</p>

  </p>
  </div>

</div>  
  
</div>
{% endblock%}
