{% extends '::frontend.html.twig' %}

{% block body %}
<div class="row">
  <div class="medium-1 columns"><b>Direcci&oacute;n:</b></div>
  <div class="medium-11 columns"><p>CASA DEL ABUELO.<br> Mision de san diego 3498. Hacienda Dorada</p></div> 
</div>

<div class="row">
  <div class="medium-1 columns"><b>Telefono:</b></div>
  <div class="medium-11 columns"><p>552 48 46</p></div> 
</div>


</div>
</div>
{% endblock %}

