{% extends '::frontend.html.twig' %}


{% block body %}
<div class="row">
  <div class="medium-1 columns"><b>Dirección:</b></div>
  <div class="medium-11 columns"><p>CASA DEL ABUELO.<br> Mision de san diego #3498. Hacienda Dorada</p></div> 
</div>

<div class="row">
  <div class="medium-1 columns"><b>Teléfono:</b></div>
  <div class="medium-11 columns"><p>552-48-46</p></div> 
</div>

<br>
<Center>
<div><a href="https://www.google.com.mx/maps/dir//Av+Misi%C3%B3n+de+San+Diego+3498,+Hacienda+Dorada,+21376+Mexicali,+B.C./@32.6277591,-115.3949519,15z/data=!4m8!4m7!1m0!1m5!1m1!1s0x80d77164396765cd:0xef160b09b29a2f9c!2m2!1d-115.386443!2d32.635835" target="_blank">Presione aquí para obtener direcciones</a></div>
</Center>
<br>
<style>
      #map {
        width: 800px;
        height: 400px;
      }
    </style>

<center>
<div id="map"></div>
    <script>
      function initMap() {
      	var myLatLng = {lat: 32.635867 , lng: -115.386862};
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
          center: myLatLng,
          zoom: 17
        });

        var marker = new google.maps.Marker({
        	position: myLatLng,
        	map: map,
        	title: 'Hello World!'
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>
</center>



</div>
</div>
<br><br><br>
{% endblock %}

