{% extends '::frontend.html.twig' %}

{% block body %}

<div class="row">
<hr />  
  <div class="small-10 columns">
  <h1 class="title" style="color:#009966;">Te diagnosticaron Alzheimer</h1>

  <h4>Enfrentando la pérdida de memoria</h4> 
  <p>Es posible que usted recuerde sucesos ocurridos  hace mucho tiempo con claridad pero que se olvide  de acontecimientos recientes. Puede ser que usted pierda la noción del tiempo y tenga problemas para recordar a personas y lugares familiares. Es posible que se le olviden las citas o los nombres de personas conocidas.  Puede ser frustrante tratar de recordar en qué lugar dejó algo.</p> 

  <h4>Sugerencias para enfrentar la pérdida  de memoria</h4>

  
  	<h6><b>Mantenga a su alcance en todo momento un cuaderno con notas importantes como:</b></h6>
  		<ol type="1">
  			<li>Números de teléfono y direcciones importantes, incluyendo números de emergencia y su propia dirección y teléfono.</li>
  			<li>Nombres de personas conocidas y su relación con ellas.</li>
  			<li>Una lista de citas importantes</li>
  			<li>Un mapa que indica dónde queda  su casa</li>
  			<li>Pensamientos o ideas que usted quiere recordar</li>
  			<li>Etiquete los armarios y cajones con palabras o dibujos que describen su contenido, como "platos" y "cubiertos" o "camisas" y "calcetines"</li>
  			<li>Obtenga un reloj digital de pantalla grande que muestre la hora y la fecha y póngalo en un lugar visible.</li>
  			<li>Use una grabadora de teléfono para recordar  los mensajes telefónicos.</li>
  			<li>Ponga	una lista de números de teléfono con letra grande al lado del teléfono; incluya  números de emergencia y una descripción de dónde vive y la dirección exacta.</li>
  			<li>Ponga	una lista de números de teléfono con letra grande al lado del teléfono; incluya  números de emergencia y una descripción de dónde vive y la dirección exacta.</li>
  			<li>Pídale a un familiar o amigo fiable que le  recuerde de las horas de comer, las citas y los medicamentos</li>
  			<li>Mantenga fotos de las personas que usted ve con frecuencia; marque las fotos con los nombres de las personas e información personal.</li>
  			<li>Use un calendario para recordar qué día es y tache cada día que pasa.</li>
  			<li>Use una cajita de las que se venden en  las farmacias para ayudarle a organizar los medicamentos. Las cajitas tienen espacios específicos para diferentes horas del día  (tales como la mañana o la noche) y pueden recordarle cuándo debe tomar los medicamentos.</li>
  		</ol> <br>

  		<h4>Encontrando el camino</h4>
  		<p>A medida de que este mal avanza, a veces las  cosas que una vez le fueron conocidas ahora le  pueden parecer desconocidas. Es posible que ya no  reconozca su lugar favorito o su casa a tal grado que  se llegue a extraviar.<br />
		Sugerencias para encontrar su camino:</p>

		<ol type="1">
			<li>Salga siempre con un amigo o un familiar.</li>
			<li>No tenga miedo de pedir ayuda.</li>
			<li>Explíqueles a los demás que tiene un problema de la memoria y que necesita ayuda.</li>
		</ol><br>

    <h4>Completando las tareas diarias</h4>

    <p>A medida que esta enfermedad avanza, puede ser  que algunas actividades cotidianas se vuelvan más difíciles o parezcan complicadas. Por ejemplo, usted  puede tener dificultad en pagar las cuentas, seguir  una receta o hacer una simple reparación en la casa.<br><br>
    Sugerencias para completar los tareas diarias:</p>
    <ol type="1">
      <li>No deje que le  apuren  los demás y haga las cosas con tiempo</li>
      <li>Descanse un poco si lo que está haciendo es  demasiado difícil</li>
      <li>Pida ayuda si la necesita</li>
      <li>Haga lo necesario para que otras personas le ayuden con tareas difíciles</li>
      <li>Mantenga una rutina diaria </li>     
    </ol><br>

    <p>Con el tiempo, ciertas tareas se pueden volver demasiado difíciles o complicadas para usted a causa de la enfermedad. Haga lo mejor que pueda y acepte ayuda cuando es ofrecida.</p>

    <h4>Hablando con otras personas</h4>
    <p>Es posible que usted tenga dificultad en entender lo que están diciendo los demás. Usted puede tener dificultad para encontrar las palabras exactas para expresar sus pensamientos.<br><br>
    Sugerencias para hablar con otras personas:</p>
    <ol type="1">
      <li>Sea paciente y tómese el tiempo necesario</li>
      <li> Dígales a los demás que usted tiene dificultad con el pensar, comunicarse y recordar</li>
      <li>Considere contarles a sus familiares y amigos sobre su diagnosis – puede ser de ayuda que ellos entiendan su condición</li>
      <li>Pida a la persona que repita lo que dijo si usted no lo entendió bien</li>
      <li>Busque un lugar tranquilo para conversar si hay mucho ruido o mucha gente a su alrededor</li>
    </ol><br>

    <h4>¿Es normal lo que siento?</h4>
    <p>Las personas con Alzheimer a menudo sienten  emociones desconocidas debido a la enfermedad. 
       Estos sentimientos son una respuesta natural a la enfermedad. Es importante conversar y compartir sus sentimientos con otras personas, como sus familiares y amigos cercanos. Puede ser que usted se diga a sí mismo:<br>
       <b>“Estoy más preocupado de lo normal.”</b></p>

    <p>Es importante hablar con sus familiares y amigos sobre sus preocupaciones. Es posible que usted se preocupe por lo que va a pasar en el futuro o cómo va a avanzar su enfermedad. Todavía no hay respuestas definitivas a estas preguntas, pero la mayoría de la gente se siente mejor y sin tantas preocupaciones si hace una actividad que le guste, como caminar o trabajar en el jardín.<br>
    <b> “A veces pienso que me estoy volviendo loco.”</b></p>

    <p>La enfermedad le puede hacer sentir como si estuviera perdiendo el control. Diciéndoselo a los que están a su alrededor le puede ayudar. Puede ser de ayuda relatar sus sentimientos a otras personas que también sufren del Alzheimer.</p>

    
    <p><b>“A veces me pongo de mal humor.”</b><br>
    Es normal experimentar cambios de humor. Es importante recordar que mañana puede ser un día  mejor. Trate de hacer cosas que le agradan como escuchar música, caminar, tejer, etc.</p>

    <p><b>“A veces me siento enojado.”</b><br>
    Muchas personas con Alzheimer se enfadan y se frustran a menudo. Tenga paciencia, busque distracción y apoyo de otros. Es normal sentirse frustrado por los cambios causados por el mal.</p>

    <p><b>“A veces me siento triste.”</b><br>
      Mucha gente se deprime debido a los problemas de memoria, comunicación y de humor causados por el Alzheimer. 
      Es posible que le ayude pasar tiempo con su familia o amigos o hacer alguna actividad que le guste.  También, es recomendable conversar con su médico sobre posibles medicamentos que le ayuden a aliviar su tristeza. </p>

    <p><b>“Me siento muy avergonzado cuando cometo un error.”</b><br>
      Perderse, olvidarse de una cara conocida o no poder encontrar la palabra correcta para expresarse puede ser vergonzoso, pero todos estos síntomas son muy comunes de la enfermedad.
      Explíquele a la gente que usted tiene problemas de la memoria, esto puede ayudarle a sentir más cómodo y comprendido. Trate de mantener el sentido de humor y de ser más paciente consigo mismo. </p>

    <p><b>“Me frustro tanto.”</b><br>
      No poder hacer  las cosas que una vez hacía puede ser frustrante. Hable con los demás sobre por qué usted se siente así. Vea si hay algo que usted o las personas a su  alrededor pueden hacer para que las cosas sean más fáciles.</p>

    <p><b>“A veces me siento muy solo.”</b><br>
      Es posible que usted piense que los que están a su alrededor no entienden lo que usted está enfrentando. Puede ser reconfortante hablar con otras personas  que han sido diagnosticadas con la enfermedad  de Alzheimer, trate de explicarle a sus familiares y amigos lo que está sintiendo para que ellos puedan comprender y ayudarle. </p>

    <p><b>“Me causa remordimiento pedir ayuda.”</b><br>
      A muy pocos nos gusta pedir ayuda y depender de alguien. Sin embargo, es importante  que usted aprenda a confiar en la gente que le rodea y pida ayuda cuando sea necesario.</p>

   
  </div>
  <hr />
</div>   

</div>
{% endblock%}
