{% extends '::frontend.html.twig' %}

{% block body %}

<div class="row">

  <div class="small-10 columns">
  <h1 class="title" aling="center">Sitio en Construcci&oacuten</h1><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>  
  
   
  </div>

</div>   

</div>
{% endblock%}
