{% extends '::frontend.html.twig' %}

{% block body %}

<div class="row">

	<div class="small-10 columns">
		<h1 class="title" style="color:#009966;"aling="center">Grupos de Apoyo</h1>

		<p>
			<b>Asociación de Alzheimer de Baja California</b><br>
			Facebook: Alzheimer BC <br>
			Correo Electrónico: consulta@alzheimerbc.mx<br><br>
			<b>Teléfono (686)552-48-46</b><br><br>

			<b>Información, recomendaciones y apoyo de expertos</b><br><br>
			Tenemos como finalidad informar y promover la detección 21 de febrero
			oportuna y actualización de los tratamientos y cuidados del 13 de marzo enfermo de alzheimer así como formar grupos de apoyo a 10 de abril familiares y cuidadores. <br><br>


			<b>Ubicación</b><br>
			Avenida Colon #1570 a un lado de estacionamiento La Voz, 7:00 - 9:00 pm.
			Mexicali, México.  			
		</p><br/>
	</div>  
</div>
{% endblock%}
