{% extends '::frontend.html.twig' %}

{% block body %}

<div class="row">
 
  <div class="small-10 columns">
  <h1 class="title" style="color:#009966;">Niños y jóvenes conviviendo con alzheimer</h1>

  <p>
	A veces los niños no preguntan directamente, pero sí demuestran preocupación porque su ser querido los llamó por los nombres equivocados. Y es que los niños intuyen más de lo que a menudo nosotros nos podamos dar cuenta. Ellos no pueden entender exactamente lo que le pasa al enfermo, pero es importante informarles de forma apropiada a su edad.Veamos entonces los siguientes consejos:<br></p>
	
  <p>
	Explicar la enfermedad de manera que los niños puedan entenderla. La palabra "Alzheimer" puede no significar mucho para los niños, y la palabra "enfermedad" puede hacer que suene como si se pudiese curar. Considere la posibilidad de decir algo así como: "El abuelo tiene un problema de memoria … Las personas no saben hacer de todo, y algunas personas no saben utilizar muy bien su memoria". Explique que mucha gente necesita ayuda con la edad, pero asegúrese de hacer hincapié en el hecho de que aunque su ser querido necesita ayuda para recordar las cosas no significa que él o ella no sea capaz de hacer nada más.</p>
	<p>
	Trate de no salir por la tangente, pero afronte los miedos comunes que pueda manifestar el niño. Usted sabrá cuánta información necesitan los niños por el tipo de preguntas que hacen. Esfuércese para responder abierta y honestamente pero no comparta más de lo necesario, como por ejemplo, hablarle sobre detalles acerca de la última etapa de Alzheimer nada más ser diagnosticado de la enfermedad. Otro ejemplo: si un abuelo olvida el nombre de su hijo, le llama a él o ella por el nombre equivocado o le confunde con usted, el niño puede malinterpretarlo pensando que el abuelo no le quiere nunca más. Con cuidado, habrá que explicar que no es que él no lo ame, es que él no puede recordar las cosas que acaban de suceder, o incluso los nombres de las personas que más ama.</p>

	<p>
	Por último, incluso si el niño no pregunta, hágale saber que el Alzheimer no es de ninguna manera una enfermedad contagiosa.  Haga hincapié en que la enfermedad no tiene nada que ver con gérmenes ni virus y que no puede ser contagiado por estar cerca del abuelo.
  </p><br>
  <h4>Sugerencias para dirigirse por edades:</h4>
  <p>
  	<b>Hasta los 6 años:</b><br><br>
	“El abuelo tiene problemas para recordar cosas. Él podría olvidar su nombre, los nuestros, dónde ha puesto las llaves; lo llaman “Alzheimer” ¿Qué palabra más rara, verdad?. Ya sabes que a veces tú tienes que ser paciente con tu hermanito pequeño (primo o vecino) y no molestarte si él toma tu juguete o empieza a llorar sin motivo;  bueno, pues ahora tenemos que ser pacientes con el abuelo de la misma manera.”</p>

  <p>
	Recuérdeles que a pesar de que el abuelo no podrá o no puede  decirlo, todavía le quiere y él quiere a su abuelo.</p>

  <p>
	Conteste a sus preguntas tan honestamente como sea posible. Si usted no sabe la respuesta, o se pregunta cómo decirlo, pregúnteme si lo considera oportuno.</p>

  <p>
	<b>De 6 a 12 años:</b><br><br>
	Comience con la conversación anterior; puede añadir que la enfermedad lleva el nombre de un médico que ayudó a entender lo que le está pasando al abuelo. Muéstreles imágenes si están interesados; podemos dejarles ver cómo funciona el cerebro y lo que le pasa al del abuelo.</p>

  <p>
	Explique que la enfermedad de Alzheimer no es contagiosa, pero que se empeora con el tiempo.
	Se quedan más tranquilos si les hacemos ver que nosotros vamos a hacerles saber lo que está pasando en cada momento.</p>

  <p>
	Anímelos a no evitar a su abuelo. Dígales que no es tan difícil o tan terrible como algunos piensan, y aunque se pueda olvidar de quién eres y ni siquiera saber quién son, siguen siendo su familia, y en muchos aspectos, todavía están allí.</p>


  <p>
	Deles la opción de visitar o no visitar al abuelo; a que permanezcan a su lado durante unos minutos; a que expresen cuándo se sienten incómodos.
	Hágales saber que pueden sentarse juntos sin hablar, mirando a los pájaros o comer helado, para que sean los propios niños los que encuentren su propio camino, su nueva forma de relacionarse con su abuelo.</p>


  <p>
	<b>A partir de 12- adolescencia:</b><br><br>
	Invíteles a explorar por sí mismos los detalles de la enfermedad, proporcionándoles los nombres de algunos sitios web, películas o vídeos que se acercan a la enfermedad de Alzheimer desde diferentes perspectivas. Anímelos a hacer un reportaje sobre el Alzheimer para la escuela o escribir sobre ella en la clase de Inglés, de lengua, de tutoría.</p>


  <p>
	Deles un diario para anotar sus sentimientos y recuerdos.Anímelos a encontrar maneras de mantener “sano” al abuelo, contando sus historias, preguntando por sus labores de cuando era jóven, viendo con él fotos.
	Hable acerca de las cosas que le dan miedo. Motívelo. Comparta sus temores con él: que no vas a ser capaz de llegar a más, de que va a morir sin decirle las cosas que querías decirle.</p>

  <p>
	Hay en ocasiones que el Alzheimer, irónicamente, puede unir a las familias. Así que hable de ello con los niños; haga preguntas; acepte el amor y el apoyo que le brindan. Conozco el caso de una señora que me dijo que su madre enferma de Alzheimer vivía con ella, su marido y sus hijas durante los últimos 3 años de su vida, y  que sus hijas adolescentes aprendieron mucho acerca de la enfermedad, pero lo más importante es que aprendieron mucho sobre su familia.
  </p>
  
   
  </div>

</div>   

</div>
{% endblock%}
