{% extends '::frontend.html.twig' %}

{% block body %}

<div class="row">

  <div class="small-10 columns">
  <h1 class="title" style="color:#009966;" aling="center">Preguntas Frecuentes</h1>
  <p>La enfermedad de Alzheimer es la forma más común de demencia, y este 
desorden terminal y progresivo del cerebro no tiene ninguna causa conocida ni 
cura. Poco a poco se roba la mente de sus víctimas, lo que lleva a la pérdida de 
memoria, confusión, deterioro del juicio, cambios de personalidad, 
desorientación y la incapacidad de comunicarse. Se cree que más de 5,4 millones 
de estadounidenses tienen la enfermedad de Alzheimer, y en el 2050, a medida 
que la población estadounidense envejece, este número podría aumentar a 15 
millones. Hay cerca de 36 millones de personas en todo el mundo que viven con 
demencia y es probable que este número aumente a más de 115 millones en el 
2050. </p>
  
<p><b>¿Cuál es la diferencia entre la enfermedad de Alzheimer 
y la demencia?</b></p>

<p>
La demencia es una disminución del pensamiento, el razonamiento o de 
recordar. Las personas con demencia tienen dificultades para realizar las tareas 
diarias que han realizado de manera rutinaria e independiente durante toda su 
vida. Las dos formas más comunes de la demencia-la enfermedad de Alzheimer y 
la demencia vascular- ambas son irreversibles, aunque a veces sus síntomas son 
manejables. La enfermedad de Alzheimer representa el 60 a 80 por ciento de los 
casos de demencia. La demencia vascular, menos conocida; es un 
endurecimiento de las arterias en el cerebro que causa obstrucción del flujo 
sanguíneo. <br>
Si una persona parece estar perdiendo la capacidad mental a tal grado que 
interfiere con las actividades diarias y las interacciones sociales, se debe consultar 
a un médico para determinar si él o ella están sufriendo de la enfermedad de 
Alzheimer u otra forma de demencia. </p>


<p><b>¿Cuáles son las etapas de la enfermedad de Alzheimer?<br/>
<i>Pre-sintomática</i></b></p> 
Las condiciones físicas relacionadas con la enfermedad de Alzheimer existen en el 
cuerpo de una persona mucho antes de que los síntomas sean evidentes. Equipos 
de alta tecnología o última generación están siendo desarrollados para detectar 
signos sutiles de la enfermedad de Alzheimer previamente a la pérdida notable de 
la memoria.<br> 
Desde la perspectiva del paciente, la enfermedad de Alzheimer se puede describir 
en tres etapas generales de progresión: 
</p>

<p>
<b><i>Leve (Etapa 1)</i></b> Además de un poco de pérdida de memoria y dificultad de 
aprendizaje, la primera etapa de la enfermedad de Alzheimer puede provocar una 
pérdida de energía y espontaneidad, así como cambios de humor, confusión, 
problemas de comunicación, y la dificultad de organización. Las personas con la 
enfermedad de Alzheimer pueden volverse introvertidas, evitando nuevas 
personas y lugares prefiriendo aquello que le es familiar. Es entendible, ellos 
también se pueden enojar y frustrarse. 
</p>

<p>
<b><i>Moderada (Etapa 2)</b></i> Durante la segunda etapa de la enfermedad de 
Alzheimer, el paciente comienza a necesitar ayuda para llevar a cabo las cosas, 
excepto algunas tareas sencillas. Los acontecimientos recientes e historias 
personales se pueden perder y el presente puede confundirse con el pasado. 
Puede haber dificultades para reconocer a personas familiares, así como también 
en la expresión oral, lectura, escritura, vestirse, y dificultad aún para dormir bien. 
Una persona en la etapa moderada de la enfermedad de Alzheimer claramente 
está quedando discapacitada. 
</p>


<p>
<b><i>Severa (Etapa 3)</b></i> La tercera etapa de la enfermedad de Alzheimer trae consigo 
una discapacidad total, con la posible pérdida de la capacidad de alimentarse por 
sí mismo, del habla, reconocer a las personas y de controlar las funciones 
corporales. La memoria se debilita aún más y puede casi desaparecer. El estado 
físico, debilitado del paciente crea vulnerabilidad a otras enfermedades y 
problemas respiratorios, especialmente para aquellos que están confinados a la 
cama. 
</p>


<p><b>¿Quién está en riesgo de desarrollar la enfermedad de Alzheimer?</p></b> 
<p>
La enfermedad de Alzheimer Familiar o de inicio temprano se hereda y se 
desarrolla en personas entre las edades de 30 y 60. Si incluso una de las tres 
mutaciones del gen que causa la enfermedad se hereda de un padre, el niño es 
casi seguro que desarrolle la enfermedad de Alzheimer. Sin embargo, menos del 
cinco por ciento de los pacientes tiene la enfermedad de Alzheimer de inicio 
temprano.</p> 

<p>
La enfermedad de Alzheimer de inicio tardío suele desarrollarse después de los 
60 años de edad, esta es la forma más común de la enfermedad. Su causa es 
desconocida y aún no ha sido descubierto un patrón de herencia, aunque grupos 
de casos se ven en algunas familias. Un gen en particular que lo porta un 25 por 
ciento de la población estadounidense aumenta el riesgo de desarrollar la 
enfermedad de Alzheimer, mientras que otro gen portado por una proporción 
menor de la población, sustancialmente protege contra la enfermedad. Los 
científicos han identificado otros genes que pueden influir en el riesgo de 
contraer la enfermedad y más investigación esta llevándose a cabo. 
</p>

<p>
Dado que los factores genéticos de riesgo no son suficientes para causar la 
enfermedad de Alzheimer de inicio tardío, los investigadores también están 
estudiando otros aspectos como la educación, la dieta y otros factores para ver si 
juegan un papel en el desarrollo de la enfermedad. 
</p>

<p><b>¿Existen tratamientos disponibles para la enfermedad de Alzheimer?</b></p>

<p> 
Sí, aunque todavía no hay cura para la enfermedad de Alzheimer, sin embargo, 
hay medicamentos que pueden ayudar a controlar sus síntomas y manejar 
condiciones tales como agitación, depresión o psicosis (alucinaciones o delirios), 
que pueden ocurrir cuando la enfermedad progresa:</p>

<p>
Inhibidores de la colinesterasa: Las personas con la enfermedad de Alzheimer tienen niveles bajos de un neurotransmisor clave, llamado acetilcolina, considerado importante para la memoria y el pensamiento. Existen cuatro tipos de medicamentos llamados inhibidores de colinesterasa que proporcionan una mayor disponibilidad de este componente químico retardando su degradación, lo que permite mayor comunicación entre las células y retrasa la progresión del deterioro cognitivo en algunos pacientes entre la fase primera e intermedia de la 
enfermedad de Alzheimer. </p>

<p>
Los cuatro inhibidores de la colinesterasa son los siguientes: <br>
<li>-Razadyne (galantamine)</li> 
<li>-Exelon (rivastigmine)</li>
<li>-Aricept (donepezil)</li>
<li>-Cognex (tacrine)</li>
</p>

<p>
Los cuatro han sido aprobados por la Administración de Drogas y Alimentos de 
los Estados Unidos (FDA por sus siglas en inglés) para las etapas temprana y 
moderada de la enfermedad de Alzheimer; Aricept® también está aprobado para 
los síntomas de la etapa severa. Cognex® fue el primer inhibidor de colinesterasa 
aprobado, pero rara vez se receta hoy por motivos de seguridad. </p>

<p>
<b>Namenda® (memantine)</b> El primer fármaco aprobado por la FDA para la 
etapa moderada a severa de la enfermedad de Alzheimer, se piensa que Namenda 
protege las células del cerebro mediante la regulación de un químico para la 
comunicación de las células nerviosas, llamado glutamato, que se libera en 
grandes cantidades por las células dañadas del Alzheimer. El glutamato esta 
normalmente involucrado en el aprendizaje y la memoria, pero cuando se libera 
en exceso por las células dañadas, se adhiere a "puntos de enganche", llamados 
receptores NMDA que a su vez aceleran el daño celular. </p>

<p>
Tratamiento para personas con enfermedades mentales Las personas en las últimas etapas de la enfermedad de Alzheimer a menudo sufren de depresión, agitación, paranoia, delirios o alucinaciones, que a su vez puede 
provocar gritos, preguntas repetitivas, el acaparamiento, caminar erráticamente,hiperactividad y comportamiento agresivo. </p>

<p>
Estos síntomas pueden aparecer a consecuencia de causas tanto no-médicas, así como médicas. Las primeras podrían tomar la forma de un cambio en el entorno de la persona (una nueva residencia, un nuevo cuidador, un cambio en la rutina) o de la frustración ante la incapacidad de comunicarse. Si la causa puede ser 
identificada, el medio ambiente puede modificarse para cambiar el comportamiento. Si la intervención no-médica, no funciona, o si el paciente se convierte en un peligro para sí mismo o para otros, se debe consultar a un doctor para evaluar la necesidad de tratamiento médico. </p>


<p><b>Tratamiento para personas con enfermedades mentales.</b> Las personas en las últimas etapas de la enfermedad de Alzheimer a menudo sufren de depresión, agitación, paranoia, delirios o alucinaciones, que a su vez puede provocar gritos, preguntas repetitivas, el acaparamiento, caminar erráticamente,hiperactividad y comportamiento agresivo.</p>

<p>
Estos síntomas pueden aparecer a consecuencia de causas tanto no-médicas, así 
como médicas. Las primeras podrían tomar la forma de un cambio en el entorno 
de la persona (una nueva residencia, un nuevo cuidador, un cambio en la rutina) 
o de la frustración ante la incapacidad de comunicarse. Si la causa puede ser 
identificada, el medio ambiente puede modificarse para cambiar el comportamiento.</p> 
<p>
Si la intervención no-médica, no funciona, o si el paciente se convierte en un 
peligro para sí mismo o para otros, se debe consultar a un doctor para evaluar la 
necesidad de tratamiento médico. </p>

<p><b>¿Cómo se diagnostica la enfermedad de Alzheimer?</b></p>

<p>
Mientras que una autopsia puede confirmar la presencia de la enfermedad, los médicos calificados pueden correctamente diagnosticar la enfermedad de Alzheimer alrededor del 90 por ciento del tiempo basándose en los síntomas mentales y del comportamiento, un examen físico, y pruebas neuropsicológicas y de laboratorio. Los científicos recientemente han desarrollado una nueva serie de “bio-marcadores” y técnicas de exploración del cerebro que pueden ayudar a mejorar el diagnóstico. </p>

<p>
Mentalmente, señales de tener problemas para seguir instrucciones, perder la orientación, mostrar falta de juicio, y tener dificultad para manejar el dinero, ir de compras, o la conducción vehicular son todos posibles síntomas de la enfermedad de Alzheimer. </p>


<p>
El examen físico generalmente incluye un examen físico general, análisis de sangre y orina. El médico puede usar esos resultados para eliminar otras formas de demencia- por ejemplo, ciertas vitaminas y hormonas pueden provocar síntomas de la demencia, si están presentes en muy poca cantidad. Los exámenes tipo escáner cerebral pueden descartar la demencia que no está vinculada a la enfermedad de Alzheimer y puede revelar los cambios estructurales presentes en la enfermedad de Alzheimer. </p>


<p>
El médico determinará si las pruebas neuropsicológicas son requeridas para examinar la memoria, atención, cálculos matemáticos, lenguaje y otras funciones intelectuales. El punto para comenzar es con su propio médico, quien puede sugerir especialistas para hacer más pruebas. </p>


<p><b>¿Está mi ser amado, quien sufre la enfermedad de Alzheimer sufriendo emocionalmente?</b></p>

<p>
Una paciente en las etapas finales de la enfermedad de Alzheimer es poco probable que este consciente de su estado, y por lo tanto no está sufriendo emocionalmente. A veces, momentos ocasionales de lucidez pueden ocurrir en aquel paciente, aunque esto es raro. Si su ser amado recupera la lucidez suficiente para darse cuenta de su condición, lo más probable es que también sea capaz de comunicarse con usted en ese momento.</p>


<p><b>¿Existen recursos disponibles para los cuidadores de personas con la enfermedad de Alzheimer?</b></p>

<p>
Hay una excelente y gran cantidad de recursos disponibles. Por ejemplo, cada estado tiene una agencia estatal para la vejez. Usted puede encontrarlo en la guía telefónica, por Internet o con la ayuda de un bibliotecario o un amigo. La sección de Investigación de la Enfermedad de Alzheimer de la red informática de AHAF proporciona a los guardianes o cuidadores, con una gran cantidad de información útil sobre como convivir y cuidar de una persona con la enfermedad de Alzheimer, y a la vez como cuidarse asimismo. Los cuidadores o guardianes a menudo están bajo una tremenda presión y estrés, y es importante que aprovechen las ayudas de apoyo y asistencia que están disponibles para ellos.</p>


<p>
Para encontrar apoyo para el cuidador o guardián,información sobre sus derechos como cuidador, como manejar el estrés, y mucho más, visite la página en la red de AHAF para cuidadores de personas en: <br/><br/>
<i><a>www.brightfocus.org/alzheimers/livingwith/caregiving.html</a></i>.<br/><br/> Usted puede 
buscar un grupo de apoyo en su área en:<br> <i><a>www.brightfocus.org/adsupportgroup</a></i>. </p>


   
  </div>
 
</div>   

</div>
{% endblock%}
