  {% extends '::frontend.html.twig' %}

  {% block body %} 
  <br>

  <div class="row">
  <div class="large-4 columns">

  <h4>Misi&oacute;n.</h4>
  <p> Ser un grupo de personas con capacidad y conocimientos para ofrecer servicio de orientación, apoyo y capacitación para los familiares y cuidadores  de enfermos de Alzheimer; promoviendo una cultura de detección oportuna y fomentando la adecuación de espacios y terapias necesarias para el manejo optimo del enfermo.Ofreciendo siempre la mejora continua en la calidad de vida del enfermo y sus familiares.</p>
  </div>

  <div class="large-4 columns">

  <h4>Visi&oacute;n.</h4>
  <p>Ofertar a los enfermos y sus familiares las mejores opciones en el tratamiento y cuidado digno del enfermo con Alzheimer o enfermedad similar. Promover y asesorar en la integración de asociaciones para cada municipio de Baja California, teniendo presencia a nivel Nacional e Internacional.</p>
  </div>

  <div class="large-4 columns">

  <h4>Patronato.</h4>
  <p>Asociación de Alzheimer de Baja California es una organización Civil fundada en Mexicali, BC por médicos especialistas y personas con la vivencia de un familiar que ha padecido la enfermedad unidos para apoyar a la comunidad. Comunicaremos a los enfermos y sus familiares las mejores opciones en el tratamiento y cuidado digno del enfermo con Alzheimer o enfermedad similar. Promoveremos y asesoraremos en la integración de asociaciones para cada municipio de Baja California, teniendo presencia a nivel Nacional e Internacional.</p>
  </div>

  </div>

<div class="row">
  <div class="small-10 large-centered columns">
  <img id="imagen" src="{{ asset('bundles/portada/img/alzh.jpg') }}"/>
  </div>
  </div>

  {% endblock %}
