{% extends '::frontend.html.twig' %}

{% block body %}

<div class="row">

  <div class="small-10 columns" align="Justify">
  <h1 class="title" style="color:#009966;">Factores de Riesgo</h1>
  
  <p>
  Los científicos han identificado los factores que aumentan el riesgo de enfermedad de Alzheimer. Eston son:</p>
  <ol>
  <li>- Edad</li>
  <li>- Historia familiar</li>
  <li>- Herencia</li></ol>
  <p>
    Sin embargo se ha encontrado que existen otros factores que podemos controlar como son  el estilo de vida, la salud y el manejo correcto de afecciones que pudiera tener.

Trate de:
  </p>
  <ol>
  	<li>- Mantener su peso dentro de las pautas recomendadas</li>
  	<li>- Evite consumir alcohol en exceso</li>
  	<li>- Manténgase socialmente conectado</li>
  	<li>- Ejercite el cuerpo y la mente</li>
  </ol>

	<p>
	El riesgo de desarrollar la enfermedad de Alzheimer o demencia vascular parece aumentar por muchas afecciones que dañan el corazón o los vasos sanguíneos. Trate de controlar:
	</p>
  <ol>
	<li>- Presión arterial alta</li>
	<li>- Enfermedades del corazón</li>
	<li>- Derrame cerebral</li>
	<li>- Diabetes</li>
	<li>- Colesterol alto</li>
</ol>
  </div>
</div> 
</div>
{% endblock%}
