{% extends '::frontend.html.twig' %}

{% block body %}

<div class="row">
<hr />  
  <div class="small-10 columns">
  <h1 class="title" style="color:#009966;">Seguridad</h1> 

  <p>Proporcionar un ambiente seguro es un trabajo muy importante para los cuidadores. Un ambiente seguro puede ayudar a prevenir lesiones y puede ayudar a la persona con demencia a sentirse relajada y menos abrumada. Para mejorar la seguridad, estudie el ambiente para encontrar los peligros. Trate de mirar el mundo a través de los ojos de la persona con Alzheimer y adapte el ambiente a sus necesidades:<br><br> </p>
  <b> Enfóquese en la prevención </b><br><br>

  <li>No espere que la persona vaya a hacer las cosas con seguridad.</li>
  <li>Elimine peligros potenciales.</li>
  <li>Sea paciente y haga las cosas sin rapidez. Pueden ocurrir accidentes cuando uno se siente apresurado.</li> 
  <li>Simplifique las rutinas y guíe a la persona de paso en paso, especialmente durante las actividades complejas de cuidado personal como bañarse, ir al baño y vestirse.</li>
  <li>Esté preparado para balancear la seguridad con las necesidades para privacidad eindependencia.</li> 
  <li>Sea realista. No puede anticipar cada riesgo ni prevenir cada problema.</li><br><br>

  <b>Evite la posibilidad de atragantamiento o envenenamiento </b><br><br>
  <li>Recuerde que debido a los cambios en el cerebro la persona que tiene el Alzheimer no entiende que ingerir sustancias extrañas puede resultar en atragantamiento o envenenamiento.</li> 
  <li>Cierra con llave los gabinetes y los cuartos que contienen sustancias tóxicas.</li> 
  <li>Guarde todos los medicamentos bajo llave. Monitoree el número de pastillas que son tomadas.</li>
  <li>Esconda artículos peligrosos de la higiene personal como hojas de afeitar.</li> 
  <li>Saque plantas tóxicas como las flores de Noche Buena o muérdagos.</li>
  <li>No deje que la comida se pudra en el refrigerador o en gabinetes.</li> 
  <li>Pruebe la temperatura de la comida antes de servirla. La persona con Alzheimer puede tener dificultad en saber si un alimento está demasiado caliente para comer.</li> 
  <li>Prepárese para lo inusual. Algunas personas pueden comer cosas como arena y tierra.</li><br><br>

  <b>Tenga precaución con cuchillos, aparatos eléctricos y herramientas eléctricas</b><br><br>

  <li>Esté alerta al hecho de que la persona con Alzheimer puede haber olvidado el uso correcto de los aparatos eléctricos y las herramientas. Peligros potenciales incluyen los hornos tostadores, hornos, cafeteras, herramientas eléctricas, cortadores de césped y parrillas.</li>
  <li>Sepa que aun los aparatos que parecen ser seguros pueden ser peligrosos. Por ejemplo, una persona puede tratar de abrir una lata de comida con un destornillador.</li>
  <li>Coloque los aparatos eléctricos que no presentan peligro a la persona a nivel de la vista.</li>
  <li>Anime a la persona a entrar a la cocina solamente cuando usted está con él.</li>
  <li>Considere tomar precauciones tales como poner cuchillos bajo llave, esconder aparatos eléctricos y sacar los botones de encendido de la estufa.</li> 
  <li>Desenchufe todos los aparatos eléctricos que se calientan (como las cafeteras) cuando no están en uso.</li> <br><br>
   
  </div>
  <hr />
</div>   

</div>
{% endblock%}
