{% extends '::frontend.html.twig' %}

{% block body %}

<div class="row">
<hr />  
  <div class="small-10 columns">
  <h1 class="title" style="color:#009966;">Detectando Señales de Alarma</h1>
  
  <h4>1. La pérdida de memoria</h4>
  <p>
  Uno de los signos más comunes de la enfermedad de Alzheimer es la pérdida de memoria,  especialmente olvidar información recién aprendida. Otros incluyen:</p>

  <li>Olvidar fechas importantes o eventos</li>
  <li>Pedir  la misma información una y otra vez</li>
  <li>Olvidar fechas importantes o eventos</li>
  <li>Tener la necesidad de apoyarse en agendas o notas de recordatorios, dispositivos electrónicos o  miembros de la familia para las cosas que solían manejar por su cuenta.</li><br>

  <h6><b>¿Cuál sería un cambio relacionado directamente con la edad?</b></h6>
  <p>
   A veces olvido nombres o citas, pero los recuerdo más tarde.
  </p>

  <h4>2. Desafíos al planear o resolver problemas</h4>
  <p>Algunas personas pueden experimentar cambios en su capacidad para desarrollar y seguir un plan o trabajar con números. Pueden batallar  para  preparar  una receta que  frecuentemente cocinaban o olvidar hacer pagos mensuales . Se les puede dificultar concentrarse y les puede tomar  mucho más tiempo hacer cosas que antes dominaban.</p>

   <h6><b>¿Cuál sería un cambio relacionado directamente con la edad?</b></h6>

   <p>Cometer errores al llevar las cuentas en su chequera .</p>

   <h4>3. Dificultad para llevar acabo actividades en el hogar, trabajo o tiempos libres.</h4>
   		<p>
   			Las personas con Alzheimer a menudo tienen dificultades para llevar a cabo las actividades cotidianas. A veces, las personas pueden tener problemas para manejar hacia un lugar que les es familiar, preparar un presupuesto en el trabajo o recordar las reglas de un juego favorito.
   		</p>

   		<h6><b>¿Cuál sería un cambio relacionado directamente con la edad?</b><h6>

   		<p> De vez en cuando necesitan ayuda para usar la configuración de un horno de microondas o para grabar un programa de televisión.</p>

   	<h4>4. Confusión relacionado con el tiempo o lugar</h4>

        <p>Las personas con Alzheimer pueden perder la pista de las fechas, las estaciones del año y el paso del tiempo. Pueden tener problemas para entender algo si no está ocurriendo inmediatamente. A veces se puede olvidar dónde están o cómo llegaron allí.</p>

    <h6><b>¿Cuál sería un cambio relacionado directamente con la edad?</b></h6>
    	<p>Confundirse con el día de la semana, pero averiguarlo más tarde.</p>

    <h4>5. Dificultad para entender imágenes visuales y relaciones espaciales</h4>

    	<p>Para algunas personas, tener problemas de la vista es un signo de enfermedad de Alzheimer. Pueden tener dificultad para leer, juzgar distancias y determinar color o contraste, que puede causar problemas con la conducción.</p>	

    	<h6><b>¿Cuál sería un cambio relacionado directamente con la edad?</h6></b>
    	<p>Cambios en la visión relacionados con las cataratas.</p>

    <h4>6. Problemas con las palabras al hablar o escribir</h4>
        <p>Las personas con Alzheimer pueden tener problemas para seguir o participar en una conversación. Pueden parar en medio de una conversación y no tienen idea de cómo continuar o pueden repetirse. Ellos pueden tener dificultades con el vocabulario, tienen problemas para encontrar la palabra correcta o  llamar cosas por el nombre equivocado (por ejemplo, llamando a una computadora por el nombre de reloj).</p>

        <h6><b>¿Cuál sería un cambio relacionado directamente con la edad?</b></h6>
        <p>A veces tiene dificultades para encontrar la palabra correcta.</p>

    <h4>7. Perder las cosas y perder la habilidad de recrear las situaciones.</h4>
    	<p>Una persona con la enfermedad de Alzheimer puede poner las cosas en lugares inusuales. Pueden perder las cosas y no poder recrear los hechos para  volver a encontrarlos. A veces, pueden acusar a otros de robar. Esto puede ocurrir con más frecuencia en el tiempo.</p>

      <h6><b>¿Cuál sería un cambio relacionado directamente con la edad?</b></h6>
      <p>Perder las cosas de vez en cuando y encontrarlos al recrear los  hechos.</p>

      <h4>8. Disminución en la capacidad de tomar buenas decisiones.</h4>
      <p>Las personas con Alzheimer pueden experimentar cambios en su capacidad de tomar decisiones. Por ejemplo, pueden usar mal juicio cuando se trata de dinero, comprar cosas inecesarias a precios extravagantes. Pueden prestar menos atención a su vestir o aseo personal.</p>

      <h6><b>¿Cuál sería un cambio relacionado directamente con la edad?</b></h6>
      <p>Tomar una mala decisión de vez en cuando.</p>

      <h4>9. Se retraen del trabajo o actividades sociales</h4>
      <p>Una persona con Alzheimer puede comenzar a retirarse de pasatiempos, actividades sociales, proyectos de trabajo o deportes. Pueden tener problemas para mantener el ritmo de su equipo favorito o recordar cómo realizar su pasatiempo favorito. También pueden evitar eventos sociales, debido a los cambios que están experimentando.</p>

      <h6><b>¿Qué es un típico cambio relacionado con la edad?</b></h6>
      <p>A veces te sientes cansado de las obligaciones laborales, familiares y sociales.</p>

      <h4>10. Los cambios en el estado de ánimo y la personalidad</h4>
      <p>El estado de ánimo y la personalidad de las personas con Alzheimer pueden cambiar. Pueden llegar a ser confuso, sospechoso, deprimido, temeroso o ansioso. Ellos pueden ser fácilmente alterados en el hogar, en el trabajo, con amigos o en lugares en los que están fuera de su zona de confort.</p>

      <h6><b>¿Qué es un típico cambio relacionado con la edad?</b></h6>
      <p>El desarrollo de formas muy específicas de hacer las cosas y convertirse irritable cuando se interrumpe una rutina.</p>

  </div>
  <hr />
</div>  

</div>
{% endblock%}
