{% extends '::frontend.html.twig' %}

{% block body %}

<div class="row">

	<div class="small-10 columns">
		<h1 class="title" style="color:#009966;">Tratamientos</h1>
		
		<p>
			Por el momento no hay cura para el alzheimer pero existen tratamientos medicinales y no medicinales que pueden aligerar los síntomas de conducta y memoria.</p>

			<p>
				Actualmente existen :<br/>
				Medicamentos para la perdida de memoria  que tratan sintomas realcionados con la memoria, lenguaje, razonamiento y otros procesos del pensamiento.    
			</p>

			<p>
				<b>Los mas utilizados en la etapa temprana a moderada:</b><br>
				Donepezil (Aricept) esta aprovado para tratamiento en cualquier etapa del Alzheimer.<br>
				Rivastigmine (Exelon) se aprueba para el tratamiendo del Alzheimer de una etapa moderada a una severa.<br>
				Se aprueba el uso de memantine (Namenda) para el tratamiento del Alzhaimer desde etapas moderadas hasta severas.
			</p>

			<p>
				<b>Tratamientos para los cambios en conducta.</b><br>
				Mucha gente encuentra los cambios de comportamiento causados por Alzheimer como uno de los mayores retos y causas de estres de dicha enfermedad. La causa principal de los sintomas de comportamiento es el deterioro progresivo de celulas cerebrales. De cualquier manera, medicacion, influencias ambientales y algunas condiciones medicas pueden causar sintomas o empeorarlos.<br>
				En las primeras etapas, las personas pueden experimentar cambios de personalidad y comportamiento tales como:<br>

				<li>Irritabilidad</li>
				<li>Ansiedad</li>
				<li>Depresión</li>
			</p>

			<p>
				<b>En etapas avanzadas, otros sintomas pueden ocurrir incluyendo:</b><br/>

				<li>Ira</li>
				<li>Agitacion</li>
				<li>Agresividad</li>
				<li>Estres emocional general</li>
				<li>Arranques verbales o fisicos</li>
				<li>Inquietud, desgarrado de papel o tejidos</li>
				<li>Halucinaciones (viendo, escuchando o sintiendo cosas que en realidad no estan ahi)</li>
				<li>Ilusiones (firme creencia en cosas que no son ciertas)</li>
				<li>Perturbacion de sueño</li><br>


				Cualquiera que desarrolle cambios de comportamiento deberia recibir una evaluacion medica completa, especialmente si los sintomas aparecen de repente.<br><br>

				Incluso cuando la causa principal de los sintomas de comportamiento es el efecto de la enfermedad del Alzheimer en el cerebro, una examinacion podria revelar otras condiciones tratables que se le contribuyen al comportamiento.
			</p>

			<p>
				<b>Algunas condiciones que contribuyen pueden incluir:</b><br><br>

				Dificultad de comunicacion

				Debido a que personas con Alzheimer pierden gradualmente la habilidad de comunicarse, es importante monitorear regularmente su comodidad y anticiparse a sus necesidades.<br><br>

				Aprende mas: Tips de comunicación<br><br>

				Efectos secundarios de las medicinas
				Mucha gente de Alzheimer toma medicamentos prescritos for otros problemas de salud. Los efectos secundarios de las drogas o interacciones entre medicamentos pueden afectar el comportamiento.<br><br>

				Incomodidad por infecciones u otras condiciones
				Al paso en que la enfermedad empeora, aquellos diagnosticados con Alzheimer tienen dificultad ascendente para comunicarse con oros acerca de lo que experimentan. Como resultado, podrian ser incapaces de reportar sintomas de enfermedades comunes. Dolor por infecciones de las vias urinarias, oidos o senos pueden llevar a inquietud o agitacion. Incomodidad por una vejiga llena, constipacion o sensacion de mucho calor o mucho frio pueden incluso ser expresadas a traves del comportamiento.<br><br>

				Problemas auditivos o de vision sin corregir, estos pueden contribuir a confuncir, frustrar y fomentar la sensacion de aislamiento.<br><br>

				Enfoques no farmacologicos<br>

				Enfoques no farmacologicos para el manejo de sintomas de compotamiento promueben la comodidad fisica y emcional.<br><br>

				Muchas de estas estrategias se concentran en identificar y abrdar las necesidades que a persona con Alzheimer podria tener dificultad en expresar conforme avanze su enferemedad. Los enfoques no farmacologicos deberian ser intentados primero.    
			</p>

			<p>
				<b>Pasos para desarrollar tratamientos no medicinales incluyen:</b><br><br>

				Reconociendo que la persona no esta solo “actuando insoportable o dificil”, si no que tiene sintomas avanzados de su enfermedad.<br>
				Identificando la causa y como los sintomas se relacionan con la experiencia de la persona 
				con Alzheimer cambiando el ambiente para resolver retos y obstaculos para brindar comodida, seguridad y paz mental.    
			</p>

			<p>
				<b>Consejos para sobrellevarlos</b><br><br>

				Monitoreo de comodidad personal.
				Revisar si el paciente sufre de dolor, hambre, sed, constipacion, fatiga, vejiga llena, infecciones o irritacion de piel. Mantener una temperatura confortable en la habitacion.<br><br>

				Evitar confrontaciones o discuciones por hechos.
				Por ejemplo, si una persona expresa deseo de visitar a uno de sus padres quien murio años atras, no señalar que el familiar esta muerto, en cambio, se les puede decir: “Tu madre es una persona maravillosa. Me gustaria verla tambien”.<br><br>

				Dirigir la atencion de la persona.
				Intenta ser y permanecer flexible, paciente y apoyar respondiendo a la emocion, no al comportamiento.<br><br>

				Crear un ambiente relajado.
				Evitar ruidos, luminosidad, espacio de inseguridad y demasiada distraccion de fondo, incluyendo la television.<br>

				<li>Permitir el descanzo adecuado entre eventos de estimulacion.</li>
				<li>Proveer un objeto de seguridad.</li>
				<li>Admitir solicitudes, y responder a ellas.</li><br><br>

				Buscar razones detras de cada comportamiento.
				Consulta a un fisico para identificar cualquier causa relacionada con medicina o enfermedad.<br><br>

				<b>Explorar varias soluciones.</b><br>
				No tomar el comportamiento de forma personal, y compartir experiencias con otros.<br><br>

				Personas con Alzheimer a menudo tienen problemas con dormir o pueden experimentar cambios en su horario de sueño. Cientificos no entienden completamente porque ocurren estas alteraciones en el sueño. Asi como los cambios en memoria y comportamiento, el sueño cambia de alguna manera como resultado del impacto de Alzheimer en el cerebro. Cuando el manejo del sueño cambia, las estrategias para sobrellevar el Alzheimer de manera no farmacologica deberian ser intentadas desde el principio.<br><br>

				<b>Tratamientos no farmacologicos para cambios en el sueño.</b><br>
				Estos tratamientos buscan mejorar la rutina y ambiente del sueño, asi cmo la reduccion de siestas durante el dia. Las estrategias no farmacologicas deberian ser intentadas antes de la medicacion, ya que algunas medicinas pueden causar graves efectos secundarios. Para crear un ambiente comodo para dormir y promover el descanso de una persona con Alzheimer se recomienda:<br><br>

				<li>Mantener tiempos regulares para comer, ir a la cama y levantarse.</li>
				<li>Buscar exposicion matutina a los rayos de sol.</li>
				<li>Promover el ejercicio diario, pero no despues de 4 horas antes de irse a la cama.</li>
				<li>Evitar el alcohol, cafeina y nicotina.</li>
				<li>Tratar cualquier dolor.</li>
				<li>Si una persona toma algun inhibidor de cholinesterase (tacrine, donepezil,rivastigmine o galantamine), evitar dar la medicina antes de ir a dormir.</li>
				<li>Asegurarse que la temperatura de la habitacion es agradable.</li>
				<li>Proveer luces de noche y objetos de seguridad.</li>
				<li>Si la persona se despierta, desalentar su permanencia en la cama, usar la cama unicamente para dormir.</li>
				<li>Desalentar ver television en periodos de desvelo.</p>

					<p>
						<b>Tratamientos alternativos</b><br>
						Existe un creciente numero de remedios herbales, suplementos dieteticos y “comidas medicinales” que son promovidas como potenciador de memoriao tratamientos para ralentizar o prevenir la enfermedad de Alzheimer y sus efectos de demencias.


					</p>
					
				</div>

			</div>  
			

		</div>
		{% endblock%}
