{% extends '::frontend.html.twig' %}

{% block body %}

<div class="row">

	<div class="small-10 columns" align="Justify">
		<h1 class="title" style="color:#009966;">Tratamientos</h1>
		
		<p>
			Por el momento no hay cura para el alzheimer pero existen tratamientos medicinales y no medicinales que pueden aligerar los síntomas de conducta y memoria.</p>

			<p>
				Actualmente existen :<br/>
				Medicamentos para la perdida de memoria  que tratan síntomas relacionados con la memoria, lenguaje, razonamiento y otros procesos del pensamiento.    
			</p>

			<p>
				<b>Los más utilizados en la etapa temprana a moderada:</b><br>
				Donepezil (Aricept) esta aprobado para tratamiento en cualquier etapa del Alzheimer.<br>
				Rivastigmine (Exelon) se aprueba para el tratamiendo del Alzheimer de una etapa moderada a una severa.<br>
				Se aprueba el uso de memantine (Namenda) para el tratamiento del Alzheimer desde etapas moderadas hasta severas.
			</p>

			<p>
				<b>Tratamientos para los cambios en conducta.</b><br>
				Mucha gente encuentra los cambios de comportamiento causados por Alzheimer como uno de los mayores retos y causas de estrés de dicha enfermedad. La causa principal de los síntomas de comportamiento es el deterioro progresivo de células cerebrales. De cualquier manera, medicación, influencias ambientales y algunas condiciones médicas pueden causar síntomas o empeorarlos.<br>
				En las primeras etapas, las personas pueden experimentar cambios de personalidad y comportamiento tales como:<br>
				<ol>
					<li>- Irritabilidad</li>
					<li>- Ansiedad</li>
					<li>- Depresión</li>
				</ol>
			</p>

			<p>
				<b>En etapas avanzadas, otros síntomas pueden ocurrir incluyendo:</b><br/>
				<ol>
					<li>- Ira</li>
					<li>- Agitación</li>
					<li>- Agresividad</li>
					<li>- Estrés emocional general</li>
					<li>- Arranques verbales o fisicos</li>
					<li>- Inquietud, desgarrado de papel o tejidos</li>
					<li>- Halucinaciones (viendo, escuchando o sintiendo cosas que en realidad no estan ahí)</li>
					<li>- Ilusiones (firme creencia en cosas que no son ciertas)</li>
					<li>- Perturbación de sueño</li><br>
				</ol>


				Cualquiera que desarrolle cambios de comportamiento deberia recibir una evaluacion medica completa, especialmente si los sintomas aparecen de repente.<br><br>

				Incluso cuando la causa principal de los síntomas de comportamiento es el efecto de la enfermedad del Alzheimer en el cerebro, una examinación podría revelar otras condiciones tratables que se le contribuyen al comportamiento.
			</p>

			<p>
				<b>Algunas condiciones que contribuyen pueden incluir:</b><br><br>

				Dificultad de comunicación

				Debido a que personas con Alzheimer pierden gradualmente la habilidad de comunicarse, es importante monitorear regularmente su comodidad y anticiparse a sus necesidades.<br><br>

				Aprende más: Tips de comunicación<br><br>

				Efectos secundarios de las medicinas
				Mucha gente de Alzheimer toma medicamentos prescritos for otros problemas de salud. Los efectos secundarios de las drogas o interacciones entre medicamentos pueden afectar el comportamiento.<br><br>

				Incomodidad por infecciones u otras condiciones
				Al paso en que la enfermedad empeora, aquellos diagnosticados con Alzheimer tienen dificultad ascendente para comunicarse con otros acerca de lo que experimentan. Como resultado, podrían ser incapaces de reportar síntomas de enfermedades comúnes. Dolor por infecciones de las vías urinarias, oódos o senos pueden llevar a inquietud o agitación. Incomodidad por una vejiga llena, constipación o sensación de mucho calor o mucho frío pueden incluso ser expresadas a través del comportamiento.<br><br>

				Problemas auditivos o de visión sin corregir, estos pueden contribuir a confundir, frustrar y fomentar la sensación de aislamiento.<br><br>

				Enfoques no farmacológicos<br>

				Enfoques no farmacológicos para el manejo de síntomas de comportamiento promueven la comodidad física y emocional.<br><br>

				Muchas de estas estrategias se concentran en identificar y abordar las necesidades que una persona con Alzheimer podría tener, como la dificultad de expresarse conforme avance su enfermedad. Los enfoques no farmacologicos deberían ser intentados primero.    
			</p>

			<p>
				<b>Pasos para desarrollar tratamientos no medicinales incluyen:</b><br><br>

				Reconociendo que la persona no está sólo “actuando insoportable o difícil”, si no que tiene síntomas avanzados de su enfermedad.<br>
				Identificando la causa y como los síntomas se relacionan con la experiencia de la persona 
				con Alzheimer cambiando el ambiente para resolver retos y obstáculos para brindar comodidad, seguridad y paz mental.    
			</p>

			<p>
				<b>Consejos para sobrellevarlos</b><br><br>

				Monitoreo de comodidad personal.
				Revisar si el paciente sufre de dolor, hambre, sed, constipación, fatiga, vejiga llena, infecciones o irritación de piel. Mantener una temperatura confortable en la habitacion.<br><br>

				Evitar confrontaciones o discusiones por hechos.
				Por ejemplo, si una persona expresa deseo de visitar a uno de sus padres quien murió años atrás, no señalar que el familiar está muerto, en cambio, se les puede decir: “Tu madre es una persona maravillosa. Me gustaria verla tambien”.

				Dirigir la atención de la persona.
				Intenta ser y permanecer flexible, paciente y apoyar respondiendo a la emoción, no al comportamiento.

				Crear un ambiente relajado.
				Evitar ruidos, luminosidad, espacio de inseguridad y demasiada distracción de fondo, incluyendo la televisión.
				<ol>
					<li>- Permitir el descanso adecuado entre eventos de estimulación.</li>
					<li>- Proveer un objeto de seguridad.</li>
					<li>- Admitir solicitudes, y responder a ellas.</li>
				</ol>
				<p>
				Buscar razones detras de cada comportamiento.
				Consulta a un físico para identificar cualquier causa relacionada con medicina o enfermedad.<br><br>

				<b>Explorar varias soluciones.</b><br>
				No tomar el comportamiento de forma personal, y compartir experiencias con otros.<br><br>

				Personas con Alzheimer a menudo tienen problemas con dormir o pueden experimentar cambios en su horario de sueño. Científicos no entienden completamente por qué ocurren estas alteraciones en el sueño. Así como los cambios en memoria y comportamiento, el sueño cambia de alguna manera como resultado del impacto de Alzheimer en el cerebro. Cuando el manejo del sueño cambia, las estrategias para sobrellevar el Alzheimer de manera no farmacológica deberian ser intentadas desde el principio.<br><br>

				<b>Tratamientos no farmacológicos para cambios en el sueño.</b><br>
				Estos tratamientos buscan mejorar la rutina y ambiente del sueño, asi cmo la reducción de siestas durante el día. Las estrategias no farmacológicas deberían ser intentadas antes de la medicación, ya que algunas medicinas pueden causar graves efectos secundarios. Para crear un ambiente comodo para dormir y promover el descanso de una persona con Alzheimer se recomienda:</p>

				<ol>
					<li>- Mantener tiempos regulares para comer, ir a la cama y levantarse.</li>
					<li>- Buscar exposición matutina a los rayos de sol.</li>
					<li>- Promover el ejercicio diario, pero no después de 4 horas antes de irse a la cama.</li>
					<li>- Evitar el alcohol, cafeína y nicotina.</li>
					<li>- Tratar cualquier dolor.</li>
					<li>- Si una persona toma algun inhibidor de colinesterasa (tacrina, donepezil,rivastigmina o galantamina), evitar dar la medicina antes de ir a dormir.</li>
					<li>- Asegurarse que la temperatura de la habitación es agradable.</li>
					<li>- Proveer luces de noche y objetos de seguridad.</li>
					<li>- Si la persona se despierta, desalentar su permanencia en la cama, usar la cama únicamente para dormir.</li>
					<li>- Desalentar ver television en periodos de desvelo.</p>
				</ol>

					<p>
						<b>Tratamientos alternativos</b><br>
						Existe un creciente numero de remedios herbales, suplementos dietéticos y “comidas medicinales” que son promovidas como potenciador de memoria o tratamientos para ralentizar o prevenir la enfermedad de Alzheimer y sus efectos de demencias.


					</p>
					
				</div>

			</div>  
			

		</div>
		{% endblock%}
