{% extends '::frontend.html.twig' %}

{% block body %}

<div class="row">
 
  <div class="small-10 columns" align="Justify">
 <h1 class="title" style="color:#009966;">Vida Diaria (Cuidados y actividades en casa)</h1>
	 <p>
	 	Descubrir que un ser querido tiene la enfermedad de Alzheimer puede ser algo estresante, aterrador y abrumador. A medida que usted empieza a examinar la situación, las siguientes sugerencias le pueden ayudar:</p>
	 <p>
	 	Hágale al médico todas las preguntas que usted tenga sobre la enfermedad de Alzheimer. Averigüe sobre los tratamientos que puedan ser más efectivos para aliviar los síntomas y manejar los problemas de conducta. Póngase en contacto con organizaciones tales como la Asociación de Alzheimer (Alzheimer’s Association) y el Centro de Educación y Referencia Sobre la Enfermedad de Alzheimer (ADEAR, por sus siglas en inglés) para obtener más información sobre la enfermedad, las opciones de tratamiento y los recursos disponibles para la atención de las personas que sufren de Alzheimer. Algunos grupos comunitarios pueden ofrecer clases que enseñan cómo atender a la persona que tiene Alzheimer, cómo resolver problemas y cómo adquirir habilidades administrativas para manejar la situación.</p>

	<p>
		Busque un grupo de apoyo en el que usted pueda compartir sus sentimientos y preocupaciones. Los miembros de los grupos de apoyo a menudo tienen ideas útiles o conocen recursos prácticos basados en sus propias experiencias. Los grupos de apoyo en el Internet permiten que las personas que proporcionan cuidados reciban apoyo sin tener que salir de la casa. La Asociación de Alzheimer y otras organizaciones patrocinan a grupos de apoyo.</p>

	<p>
		Analice su día de trabajo para determinar si puede desarrollar una rutina que le permita cumplir sus labores diarias con menos dificultades. Si hay momentos durante el día en que la persona que tiene Alzheimer está menos confundida o coopera más fácilmente, planee su rutina para sacarle el mayor provecho posible a esos momentos. Recuerde que la manera como la persona actúa puede cambiar de día a día, así que trate de ser flexible y adapte su rutina de la forma que sea necesaria.</p>

	<p>
		Considere la alternativa de utilizar centros para el cuidado diario de adultos o servicios que ofrecen un descanso para aliviar el peso de las demandas diarias de atender a una persona que tiene Alzheimer. Estos servicios le permiten tomar un descanso, sabiendo mientras tanto que la persona que sufre de Alzheimer está siendo bien cuidada.</p>

    <p>
       Comience a hacer planes para el futuro. Éstos pueden incluir poner en orden los documentos financieros y legales, investigar las opciones de cuidado a largo plazo y determinar qué servicios están cubiertos por el seguro de salud.
	 </p>  

	<p>
		<b>Comunicación</b><br>
		Tratar de comunicarse con una persona que tiene la enfermedad de Alzheimer puede ser un reto. Entender y ser entendido puede ser difícil.</p>
	<p>
		Escoja palabras sencillas, frases cortas y utilice un tono de voz amable y tranquilo.
		Evite hablarle a la persona que sufre de Alzheimer como si fuera un bebé o hablar de él o ella como si no estuviera presente.</p>
	<p>
		Reduzca las distracciones y el ruido, como la television o la radio, para ayudarle a la persona a concentrarse en lo que usted le está diciendo. Mire a la persona a los ojos y llámela por su nombre, asegurando que tiene su atención antes de hablarle. Permítale suficiente tiempo para responder. Tenga cuidado de no interrumpirle.</p>
	<p>
		Si la persona con Alzheimer está luchando por encontrar una palabra o comunicar un pensamiento, trate amablemente de proporcionarle la palabra que está buscando.Trate de presentar las preguntas e instrucciones de una manera positiva. Preste atención a las preocupaciones de la persona, aunque sea difícil entenderla.</p>
	<p>
		<b>Bañándose</b><br>
		A pesar de que para algunas personas con Alzheimer bañarse no es un problema, para otras es una experiencia que produce confusión y miedo. Planear por adelantado puede ayudar a que el momento del baño sea mejor tanto para el paciente como para usted. Planee el baño o la ducha para la hora del día en que la persona está más tranquila y afable. Sea consistente y trate de desarrollar una rutina.
		Respete el hecho de que el baño produce miedo y es incómodo para algunas personas con la enfermedad de Alzheimer. Sea amable y respetuoso. Tenga paciencia y calma.</p>

	<p>
		Dígale a la persona lo que usted va a hacerle, paso por paso, y permítale hacer por sí misma todo lo que le sea posible. Prepare todo de antemano. Antes de empezar, asegure que tiene listo todo lo que necesita en el baño. Llene la tina de agua por adelantado. Tenga en cuenta la temperatura del baño. Si es necesario, caliente el cuarto de antemano y mantenga cerca toallas extras y una bata de baño. Pruebe la temperatura del agua antes de empezar el baño o la ducha. Reduzca los riesgos utilizando una ducha de mano, un asiento para la ducha, barras para agarrarse y alfombras no resbaladizas para la bañera. Nunca deje a la persona sola en el baño o en la ducha.Trate un baño con esponja. Tal vez un baño no sea necesario todos los días. Un baño con esponja puede ser efectivo para los días en que el paciente no recibe una ducha o baño corriente.</p>

	<p>
		<b>Vistiéndose</b><br>
		Para una persona que tiene Alzheimer, vestirse representa una serie de retos: escoger qué ropa ponerse, quitarse y ponerse la ropa, y dificultades con los botones y el zipper (cremallera). Reducir esos retos puede facilitar la tarea. Trate que la persona se vista a la misma hora todos los días, para que eso se convierta en parte de la rutina diaria. Anime a la persona a que se vista sola hasta el grado que sea posible. Planee y permita suficiente tiempo para que no haya presión o prisas.
		Permítale escoger de una selección limitada de prendas. Si la persona tiene un conjunto de prendas favorito, considere comprarle varios juegos idénticos.</p>
	<p>
		Guarde algunas prendas en otro cuarto para reducir el número de opciones. Mantenga solamente uno o dos juegos de prendas en el ropero o tocador. Organice la ropa en el orden en que se la debe poner para ayudarle a la persona a seguir los pasos del proceso. Entréguele a la persona una prenda a la vez o dele instrucciones claras paso a paso si la persona necesita ayuda. Escoja ropa que sea cómoda, fácil de ponerse y quitarse, y fácil de mantener limpia y en buen estado. Los elásticos en la cintura y los cierres de Velcro® disminuyen las dificultades con los botones y las cremalleras.</p>

	<p>
    	<b>Comiendo</b><br>
		Comer puede ser un reto. Algunas personas con Alzheimer quieren comer todo el tiempo, mientras que otras necesitan ser alentadas para poder mantener una buena dieta.</p>

	<p>
		Conciba las horas de comidas como oportunidades para la persona que tiene Alzheimer de interactuar socialmente y desenvolverse bien. Trate de tener paciencia y evite las prisas, y esté pendiente de las señales de confusión y ansiedad. Trate de establecer un ambiente silencioso, tranquilo y sereno a las horas de comer, limitando el ruido y otras distracciones. Mantenga rutinas familiares a las horas de comer, pero adapte la situación de acuerdo a las necesidades cambiantes de la persona. Dele a la persona opciones de comida, pero limite el número de opciones. Trate de ofrecerle comidas apetitosas que tienen sabores conocidos, texturas variadas y colores diferentes.</p>

	<p>	
		Sírvale porciones pequeñas o varias comidas pequeñas a lo largo del día. Prepare y mantenga a mano bocadillos saludables, alimentos que se pueden comer con las manos, y batidos. En las etapas tempranas de la demencia, tenga en mente que es posible que la persona coma más de lo debido. Escoja platos y utensilios que promuevan la independencia. Si la persona tiene dificultad para utilizar los cubiertos, use un plato hondo en vez de uno plano u ofrézcale cubiertos con mangos grandes o extendidos. Utilice pajillas o tazas con tapa para que la persona pueda beber más fácilmente. Anime a la persona a que tome muchos líquidos a lo largo del día para evitar la deshidratación. A medida que la enfermedad avanza, tenga en mente que el riesgo de que la persona se atragante con algo aumenta debido a dificultades al masticar y tragar. Cumpla con el horario de revisiones dentales rutinarias y cuide la salud oral diaria para mantener la boca y los dientes saludables.</p>

	<p>
		<b>Actividades</b><br>
		¿Qué hacer durante todo el día? Encontrar actividades que las personas que sufren de Alzheimer puedan hacer y les interese, puede ser un desafío. Usar las habilidades que la persona posee actualmente generalmente funciona mejor que tratar de enseñarle algo nuevo.</p>

	<p>
		No espere demasiado de la persona. Las actividades sencillas a menudo son las mejores, sobre todo cuando se usan las habilidades que la persona posee actualmente. Ayude a la persona a empezar una actividad. Divida la actividad en pequeños pasos y elogie a la persona por cada paso que complete.
		Esté pendiente de señales de agitación o frustración en el curso de la actividad y ayúdele amablemente o distráigala orientándola hacia algo diferente.</p>

	<p>
		Incorpore en su rutina diaria las actividades que la persona parece disfrutar e intente hacer las actividades a una hora similar cada día. Trate de incluir a la persona con Alzheimer en el proceso total de la actividad. Por ejemplo, a las horas de comida, anímela a ayudar en la preparación de la comida, a poner la mesa, apartar las sillas o guardar los platos. Esto puede ayudar a mantener las habilidades funcionales, realzar el sentido de control personal y aprovechar eficazmente el tiempo disponible. Aproveche los centros de servicios para el cuidado de adultos durante el día, los cuales proporcionan varias actividades para la persona con la enfermedad de Alzheimer, mientras que al mismo tiempo ofrecen a las personas encargadas de proporcionar cuidados la oportunidad de obtener un alivio temporal de las tareas asociadas con su labor. Estos centros frecuentemente proporcionan transporte y comidas.</p>

	<p>
		<b>Ejercicio</b><br>
		Incorporar el ejercicio dentro de la rutina diaria proporciona beneficios tanto a la persona que tiene Alzheimer como a quien la atiende. No solamente puede mejorar la salud, sino que también puede convertirse en una actividad constructiva que ustedes dos pueden compartir. Piense en la clase de actividad física que ustedes dos disfrutan, como caminar, nadar, jugar tenis, bailar o trabajar en el jardín. Determine la hora del día y el lugar donde ese tipo de actividad funcionaría mejor. Sea realista con sus expectaciones. Comience despacio; por ejemplo, tome un paseo corto alrededor del patio, antes de dar una vuelta alrededor de la cuadra. Esté pendiente de cualquier molestia o señales de esfuerzo excesivo. Hable con el médico de la persona si esto sucede.</p>

	<p>
		Permítale a la persona tener tanta independencia como sea posible, aún si eso significa un jardín imperfecto o un juego de tenis sin puntos marcados. Identifique los tipos de programas de ejercicio disponibles en su área. Es posible que los centros para personas mayores tengan programas para aquellos que les gusta hacer ejercicio con otras personas. Los centros comerciales de su localidad a menudo tienen clubes de caminar y proporcionan un lugar para hacer ejercicio cuando hace mal tiempo.
		Anime a la persona a realizar actividades físicas. Pase tiempo afuera cuando el clima lo permita. El ejercicio frecuentemente ayuda a todos a dormir mejor.</p>

	<p>
		<b>Incontinencia</b><br>
		A medida que la enfermedad avanza, muchas personas con la enfermedad de Alzheimer empiezan a padecer de incontinencia, o sea, la inhabilidad de controlar las funciones de la vejiga o de los intestinos. La incontinencia puede ser angustiosa para la persona y difícil para quien la cuida. Algunas veces la incontinencia se debe a una enfermedad física, de manera que asegúrese de discutirlo con el médico de la persona. Tenga una rutina para llevar a la persona al baño y mantenga esa rutina tan rigurosamente como sea posible. Por ejemplo, lleve a la persona al baño aproximadamente cada 3 horas durante el día. No espere a que la persona se lo pida. Esté atento a señales de que la persona tal vez tenga que ir al baño, tales como inquietud o tirarse la ropa. Actúe rápidamente.</p>

	<p>
		Sea comprensivo cuando ocurren accidentes. Conserve la calma y tranquilice a la persona si está angustiada. Trate de notar cuándo suceden estos accidentes para ayudar a planear maneras de evitarlos.
		Para ayudar a prevenir los accidentes nocturnos, limite ciertos tipos de líquidos en la noche, tales como aquellos que contienen cafeína. Si va a salir con la persona, planee con anticipación. Averigüe dónde están localizados los baños y asegure que la persona se ponga ropa sencilla y fácil de quitarse. Lleve un juego extra de ropa en caso de que ocurra un accidente.</p>

	<p>
		<b>Problemas para dormir</b><br>
		La agotada persona que proporciona los cuidados espera ansiosamente que sea la hora de dormir de la persona enferma. Sin embargo, para las personas que sufren de Alzheimer la llegada del crepúsculo, cuando empieza a anochecer, puede ser un momento difícil. Muchas de las personas con Alzheimer se ponen inquietas, agitadas y malhumoradas alrededor de la hora de la cena. Este fenómeno se conoce como el síndrome vespertino o el síndrome de “sundowning”. Lograr que la persona se acueste y permanezca en la cama puede requerir un poco de planificación previa.</p>

	<p>
		Anime a la persona a hacer ejercicios durante el día y limite las siestas que hace durante el día, pero asegúrese de que la persona está descansando adecuadamente durante el día, ya que la fatiga puede aumentar la probabilidad de la inquietud al atardecer. Trate de programar a horas tempranas del día las actividades que requieren esfuerzo físico. Por ejemplo, el baño puede ser realizado en la mañana, o la comida mayor en familia puede ser servida a mediodía. Establezca un tono quieto y tranquilo en la noche para alentar el sueño. Mantenga las luces bajas, elimine los ruidos fuertes, e incluso ponga música relajante si parece que la persona la disfruta. Trate de establecer que la hora de acostarse sea más o menos al mismo tiempo todas las noches. Desarrollar una rutina a la hora de acostarse puede ayudar a lograr eso.</p>

	<p>
		Limite el consumo de cafeína. Si la oscuridad asusta o desorienta a la persona, use lamparitas de noche en el dormitorio, en el pasillo y en el baño.</p>	  
   
  </div>

</div>   

</div>
{% endblock%}
