{% extends '::frontend.html.twig' %}


{% block body -%}


<div class="row">
	<div class="large-12 columns">
		<h3>Administraci&oacute;n de Usuarios</h3><br />
		<dl class="sub-nav">  
			<dd><a href="{{ path('usuario_new') }}">Crear Usuario</a></dd>
			<dd><a href="{{ path('usuario_index')}}">Ver usuarios</a></dd>  
			<dd><a href="{{ path('admin') }}">Regresar a administraci&oacute;n</a></dd>
		</dl>
	</div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
{% endblock %}